In [10]:
import lxml
import json
import re
from pprint import pprint
import re
import numpy as np
import pandas as pd
from IPython.display import HTML, display
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.compose import ColumnTransformer
from sklearn.dummy import DummyClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression 
from sklearn import svm 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.neural_network import MLPClassifier 
from sklearn.metrics import f1_score
from sklearn.semi_supervised import LabelPropagation
from sklearn.cluster import KMeans

In [144]:
train = pd.read_csv("train.csv", index_col="index")
train = train.query("target != -1")
test['description'] = test['description'].str.extract(r'(.бязанности.*?\Требования)|(Требования.*?\.бязанности)|(.бязанности.*)')
train['name'] = train['name'].str.replace(r"\([^()]*\)", " ", regex=True)
train['fdescription'] = train['name'] + ' ' + train['description'].str.replace(r"\<[^<>]*\>", " ", regex=True).str.lower().str.replace(r'[^\w\s]+', ' ',regex=True).str.replace(r"\([^()]*\)", "", regex=True)
patt = re.compile("[^\w\s]")
train.loc[:, "name"] = train["name"].str.replace(
    patt, " ", regex=True
)
train['fdescription'] = train['fdescription'].str.findall('\w{4,}').str.join(' ')
train

,name,description,target,fdescription
index,,,,
169939030,кассир в пиццерию г витебск,"<p><strong>Устал искать работу? Может, хочешь ...",5223,кассир пиццерию витебск устал искать работу мо...
169293782,продавец консультант yota,<p>За любыми достижениями нашей компании в пер...,5223,продавец консультант yota любыми достижениями ...
291073919,электросварщик накс ск,<p>Группе компаний КСК на промышленный объект ...,7212,электросварщик накс группе компаний промышленн...
179260831,кассир,Правила приема и проведения расчетных и конвер...,5223,кассир правила приема проведения расчетных кон...
39608878,оператор машинного доения,"Выполнять все виды работ, связанные с производ...",6121,оператор машинного доения выполнять виды работ...
...,...,...,...,...
110663394,офис менеджер,<p><strong>Обязанности:</strong></p> <p>- испо...,3341,офис менеджер обязанности исполнение поручений...
30812168,офис менеджер,<strong>Обязанности:</strong> <ul> <li>Прием и...,3341,офис менеджер обязанности прием отправка входя...
50002587,офис менеджер,<p><strong>Обязанности:</strong></p> <ul> <li>...,3341,офис менеджер обязанности встречать направлять...
183546781,офис менеджер,<strong>Обязанности:</strong> <ul> <li>прием и...,3341,офис менеджер обязанности прием регистрация вх...
39324585,дояр,Соблюдение должностных инструкций и правил вну...,6121,дояр соблюдение должностных инструкций правил ...

In [145]:
X_train, y_train = train['fdescription'], train["target"]

In [146]:

vectorizer = TfidfVectorizer(max_features=128)
X_train_row = vectorizer.fit_transform(X_train.values.astype('U'))
X_train_row.toarray()

array([[0.        , 0.        , 0.46807766, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.1218491 , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.76380236, ..., 0.06207068, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.09927906, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [154]:
SVM = svm.LinearSVC()
SVM.fit(X_train_row, y_train)
SVM.predict(X_train_row)
print(round(SVM.score(X_train_row,y_train),4))

labels = y_train

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

KNN = KNeighborsClassifier(n_neighbors = 500)
KNN.fit(X_train_row,y_train)
x_pred = KNN.predict(X_train_row)
print(round(KNN.score(X_train_row,y_train),4))
import matplotlib.pyplot as plt
%matplotlib inline
#error_rates = []
#for i in np.arange(100, 300,10):
 #   new_model = KNeighborsClassifier(n_neighbors = i)
  #  new_model.fit(X_train_row,y_train)
   # new_predictions = new_model.predict(X_train_row)
    #error_rates.append(np.mean(new_predictions != y_train))
    
#plt.plot(error_rates)

0.6133
0.4626

In [155]:
test = pd.read_csv("test.csv") 
test['description'] = test['description'].str.extract(r'(.бязанности.*?\Требования)|(Требования.*?\.бязанности)|(.бязанности.*)')

In [156]:
display(test['description'])

0       Обязанности:</strong></p> <ul> <li>Выполнение ...
1       Обязанности:</strong> <ul> <li>Поиск поставщик...
2                                                     NaN
3       Обязанности:</p> <p>- оформление приема, перев...
4       Обязанности:</strong> <ul> <li> <p>Обработка в...
                              ...
1085                                                  NaN
1086    Обязанности:</b> <br /><ul><li>Проведение собе...
1087    Обязанности:</strong></p><ul><li>Обслуживание ...
1088                                                  NaN
1089    Обязанности:</strong></p> <p>Просчет различный...
Name: description, Length: 1090, dtype: object

In [157]:


test['name'] = test['name'].str.replace(r"\([^()]*\)", "", regex=True)
test.loc[:, "name"] = test["name"].str.replace(
    patt, " ", regex=True
)

test['fdescription'] = test['name'] + ' '+ test['description'].str.replace(r"\<[^<>]*\>", " ", regex=True).str.lower().str.replace(r'[^\w\s]+', ' ',regex=True).str.replace(r"\([^()]*\)", "", regex=True)

test_row = vectorizer.fit_transform(test['fdescription'].values.astype('U'))
test_row.toarray()
y_pred = KNN.predict(test_row)

In [158]:
display(test)

,index,name,description,fdescription
0,26461447,персональный водитель сервиса wheely,Обязанности:</strong></p> <ul> <li>Выполнение ...,персональный водитель сервиса wheely обязанн...
1,26464220,менеджер по автоперевозкам,Обязанности:</strong> <ul> <li>Поиск поставщик...,менеджер по автоперевозкам обязанности по...
2,26467473,продавец кассир,NaN,NaN
3,26468989,специалист по кадрам,"Обязанности:</p> <p>- оформление приема, перев...",специалист по кадрам обязанности оформлен...
4,26471705,администратор на телефоне,Обязанности:</strong> <ul> <li> <p>Обработка в...,администратор на телефоне обязанности о...
...,...,...,...,...
1085,123809156,рабочий по благоустройству населенных пунктов,NaN,NaN
1086,104700805,менеджер по подбору персоналу,Обязанности:</b> <br /><ul><li>Проведение собе...,менеджер по подбору персоналу обязанности ...
1087,114563177,продавец кассир,Обязанности:</strong></p><ul><li>Обслуживание ...,продавец кассир обязанности обслуживание ...
1088,354950498,весовщик,NaN,NaN
1089,361611956,диспетчер производства логистики,Обязанности:</strong></p> <p>Просчет различный...,диспетчер производства логистики обязанности ...

In [159]:
y_pred

array([5223, 4120, 6121, ..., 5223, 6121, 9621])

In [160]:
submission = test[['index']].assign(target=y_pred)
display(submission.head(4))
submission.to_csv("result17.csv", index=False)

      index  target
0  26461447    5223
1  26464220    4120
2  26467473    6121
3  26468989    1349